<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my portfolio!</h2>
        <p class="lead">Here is a brief introduction. My resume can be found <a target="_blank" href="http://join.deathtothestockphoto.com/">here</a>.</p>
        <h3 align = left>Education:</h3>
        <div>
        <div style = "float left">Zhejiang University (ZJU)</div>
        <div style = "float center">Mechanical Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bachelor of Engineering</div>
        <div style = "float right">Sep.2014 - Jun.2018</div>
        </div>
        <div style = "clear"></div>
        
        <h3 align = left>Employment:</h3>
        <div>
        <div style = "float left">Air Liquide Global E&C Solutions Hangzhou Co., Ltd.</div> 
        <div style = "float center">Commissioning Engineer</div> 
        <div style = "float right">Aug.2018 - Aug.2019</div>
        </div>
        <div style = "clear"></div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
