<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my portfolio!</h2>
        <p class="lead">Here is a brief introduction. My resume can be found <a target="_blank" href="http://join.deathtothestockphoto.com/">here</a>.</p>
        <h3>Education</h3>
        <div><font size = "5">Zhejiang University</font></div>
        <font size = "5">Mechanical Engineering</font>
        <div>Sep.2014 - Jun.2018</div>
        
        <h3>Employment</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
