<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my portfolio!</h2>
        <p class="lead">Here is a brief introduction. My resume can be found <a target="_blank" href="http://join.deathtothestockphoto.com/">here</a>.</p>
        <h3 align = left>Education:</h3>
        <h4 align = left>Zhejiang University (ZJU)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mechanical Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bachelor of Engineering&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sep.2014 - Jun.2018</h4>
        <h3 align = left>Employment:</h3>
        <h4 align = left>Air Liquide Global E&C Solutions Hangzhou Co., Ltd.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commissioning Engineer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aug.2018 - Aug.2019</h4>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
