<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 id="CU">At Columbia</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6" padding:0>
            <div class="portfolio-txt">
              Under Construction...
            </div>
          </div>
        </div>
        <h2 id="ZJU">At ZJU</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://lyxyvonnelee.github.io/Computational-Photography/">
                <img class="img-portfolio img-responsive" src="img/img.png">
              </a>
            </div>            
          </div> 
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              <strong>Coursework: Computational photography</strong><br/>            
              <strong>Description: </strong><span class="lead">The interesting projects include: Filtering and Fourier Transform, 
                Solving the Sparse Matrix Equation using the Gauss-Siedel Method, Solving Non-linear least squares problems, Panorama Stitching, 
              GrabCut and so on.</span>
              <br/>            
              <a href="https://github.com/lyxyvonnelee/Computational-Photography">[Github Repo]</a> &nbsp;&nbsp;
              <a href="https://lyxyvonnelee.github.io/Computational-Photography/">[Github Page]</a>
            </div>
          </div>
          <div class="col-md-6">       
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/3Dmapping.png">
              </a>
            </div>
          </div>
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              <strong>Graduation thesis: </strong><br/>
              <strong>Mobile robot 3D mapping based on lidar</strong><br/>
              <strong>Description: </strong><span class="lead">This paper is based on a 16-line lidar to build a three-dimensional map, 
              which aims to provide a fast, real-time, and effective method for building a map for mobile robots.</span>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/mech.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-txt">
              <strong>Coursework: </strong>
              <strong>Design of two-stage unfolded cylindrical oblique gear reducer</strong><br/>             
              <strong>Description: </strong><span class="lead">In this project, I designed a transmission for the working spindle of the spiral conveyor.</span>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          
        </div>
        <!-- /.row (nested) -->
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
