<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a href="#" class="btn btn-dark">At Columbia </a><a href="#" class="btn btn-dark">At ZJU</a>
        <h2>At ZJU</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://lyxyvonnelee.github.io/Computational-Photography/">
                <img class="img-portfolio img-responsive" src="img/img.png">
              </a>
            </div>            
          </div> 
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              Computation photography courseworks<br/>            
              <strong>Description: </strong><span font-size: 20px>I did lots of interesting projects in this course. The projects include: Filtering and Fourier Transform, 
                Solving the Sparse Matrix Equation using the Gauss-Siedel Method, Solving Non-linear least squares problems, Panorama Stitching, 
              GrabCut and so on. Click on the picture to view on the Github Page.</span>
              <br/>            
              <a href="https://github.com/lyxyvonnelee/Computational-Photography">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">       
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              Courseworks<br/>             
              <strong>Description:</strong>
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-txt">
              Courseworks<br/>             
              <strong>Description:</strong>
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-txt">
              Courseworks<br/>             
              <strong>Description:</strong>
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
