<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <a href="#CU" class="btn btn-dark">At Columbia </a><a href="#ZJU" class="btn btn-dark">At ZJU</a>
        <br/>
        <h2 id="CU">At Columbia</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6" padding:0>
            <div class="portfolio-txt">
              
            </div>
          </div>
        </div>
        <h2 id="ZJU">At ZJU</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://lyxyvonnelee.github.io/Computational-Photography/">
                <img class="img-portfolio img-responsive" src="img/img.png">
              </a>
            </div>            
          </div> 
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              Computation photography courseworks<br/>            
              <strong>Description: </strong><span font-size: 20px>I did lots of interesting projects in this course. The projects include: Filtering and Fourier Transform, 
                Solving the Sparse Matrix Equation using the Gauss-Siedel Method, Solving Non-linear least squares problems, Panorama Stitching, 
              GrabCut and so on. Click on the picture to view on the Github Page.</span>
              <br/>            
              <a href="https://github.com/lyxyvonnelee/Computational-Photography">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">       
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/3Dmapping.png">
              </a>
            </div>
          </div>
          <div class="col-md-6" padding: 0>
            <div class="portfolio-txt">
              Graduation theis: <br/>
              Mobile robot 3D mapping based on lidar<br/>
              <strong>Description: </strong>This paper is based on a 16-line lidar to build a three-dimensional map, 
              which aims to provide a fast, real-time, and effective method for building a map for mobile robots.
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/mech.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-txt">
              Design of two-stage unfolded cylindrical oblique gear reducer<br/>             
              <strong>Description:</strong> In this project, I designed a transmission for the working spindle of the spiral conveyor.
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-txt">
              Courseworks<br/>             
              <strong>Description:</strong>
              <br/>
              <br/>
              <a href="https://github.com/lyxyvonnelee">[Github]</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
